{
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-expressions": 0,
    "max-nested-callbacks": ["error", 4]
  },
  "env": {
      "mocha": true,
      "browser": true
  },
  "globals": {
    "fixture": true
  }
}
